@media screen {
	.btn {
		padding: 4px 18px;
	}
}
.wrap {
	display: block;
	margin: 20px 0 0 0;
	padding: 0 0 110px 0;
}

.wrap div {
	float: left;
}

.wrap ul {
	list-style: none;
	margin: 30px 0 0 10px;
}

.block {
	height: 70px;
	width: 120px;
	padding-top: 50px;
}

.route {
	font-weight: bold;
	font-size: 40px;
	color: #FFF;
	text-align: center;
	width: 120px;
}

.direction {
	font-size: 12px;
	font-weight: bold;
}

.prediction h3 {
	line-height: 10px;
}

.block.soon {
	background-color: #7CB854;
}

.block.moderate {
	background-color: #F2B701;
}

.block.late {
	background-color: #DC0030;
}

.block.delayed {
	background-color: #7C378A;
}

.clear {
	clear: both;
}